* {
  margin: 0;
  padding: 0;
}
@mixin flexColum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  @include flexColum();
  background-color: white;
  width: 100%;

  .logo {
    @include flexColum();
    width: 100%;
    margin-top: 160px;
    > h1 {
      justify-content: center;
      font-family: 'Pattaya', 'sans-serif';
    }
  }

  .login_section {
    @include flexColum();
    margin-top: 16px;
    .id {
      @include flexColum();
      margin: 0 auto;
      padding-top: 16px;
      width: 289px;
      height: 100%;

      .id_input {
        @include flexColum();
        color: rgb(70, 70, 70);
        width: 289px;
        height: 40px;
        border-radius: 5px;
        text-indent: 8px;
        border: solid 1px rgb(197, 197, 197);
        background-color: rgb(253, 253, 253);
        outline: none;
        &::placeholder {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: gray;
          font-weight: bold;
        }
      }
    }
    .pw {
      margin-top: 16px;
      margin-bottom: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 289px;
      height: 32px;

      .pw_input {
        text-indent: 8px;
        color: rgb(70, 70, 70);
        margin-top: 16px;
        width: 289px;
        height: 40px;
        border-radius: 5px;
        border: solid 1px rgb(216, 216, 216);
        background-color: rgb(253, 253, 253);
        outline: none;
        &::placeholder {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: gray;
          font-weight: bold;
        }
      }
    }

    .login {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 289px;
      height: 32px;

      .login_Btn {
        width: 289px;
        height: 32px;
        border-radius: 5px;
        border-style: none;
        background-color: rgba(64, 149, 225, 0.35);
        font-weight: bold;
        cursor: pointer;
        span {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
footer {
  margin: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  .forget {
    color: rgb(15, 47, 153);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
  }
}
